* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body{
		background-color:black;
		color:white;
		padding: 30px;
		margin: auto;
}
h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: white;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	line-height: 29px;
	color: #F7E53E;
}

h3 {
	font-size: 18px;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #F7E53E;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: white;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
	color:white;
 	line-height: 17px;
	text-decoration: none;
 }

 a:hover {
 	font-size: 14px;
	color:#F7E53E;
 	line-height: 17px;
	text-decoration: none;
 }

 i {
	 color:#F7E53E;
 }

 .list{
	 padding-bottom:15px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}


.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	font-weight: 400;
}


.banner.main {
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}


.banner.menu {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}

.banner h1 {
	margin: 45px 0;
}
 .item-list {
	color:white;
 	padding: 10px;
 }
 .item-list:hover {
 	background-color: lightgray;
 	padding: 10px;
}
.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border-radius: 5px;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

.details {
	margin: auto;
}


select {
	color: black;
}


input[type=text], select, input[type=textarea]{
    width: 100%;
		height: 50px;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signinButton {
display: inline-block;
}
input[type=submit] {
    width: 100%;
    background-color: #F7E53E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
