{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner main">
		<div class="col-md-11 padding-none">
			<h2>Categories</h2>
		</div>
		<div class="col-md-1 padding-none">
			<a href="{{url_for('newItem')}}"> <i class="fas fa-plus-square fa-3x"></i>  </a>
		</div>
	</div>
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	<div class="row">
		<div class="col-md-3 banner menu">
			{% for category in categories %}
			<div class="item-list ">
				<a href = "{{url_for('showItems', category_id = category.id)}}">
					{% if selected_category %}
						{% if selected_category.name == category.name %}
								<h3 style="color:yellow">{{category.name}}</h3>
						{% else %}
						<h3>{{category.name}}</h3>
						{% endif%}
					{% else %}
						<h3>{{category.name}}</h3>
					{% endif%}
			</a>
			</div>
			{% endfor %}

			</div>
			<div class="col-md-9">
				{% for item in items %}
				<span class="list"><a href="{{url_for('showItem', item_id = item.id,category_id = item.category_id)}}"><h4>{{item.name}} <span style="color:#F7E53E;"> -{{item.category.name}}</span></h4></a></span>
				{% endfor %}
			</div>
	</div>

{% endblock %}
