{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row details banner menu">
		<div class="col-md-8 ">
			<div>
				<h1>{{item.name}}</h1>
				<p>
					{{item.description}}
				</p>
			</div>
			<div style="display:flex;">
				<a style="paddng:4px;" href="{{url_for('editItem', item_id = item.id, category_id = item.category_id)}}"> edit </a>   |
				<form method="POST" action="{{url_for('deleteItem', category_id=item.category_id, item_id = item.id)}}" >
					<button type="submit"> delete </button>
				</form>
			</div>

		</div>
	</div>



{% endblock %}
