{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Restaurant</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{url_for('newItem')}}" method = "post">
				<div class="form-group">
				<label for="name">Item Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name" required>
				<div class="padding-bottom"></div>
				<label for="name">Description:</label>
				<input type ="textarea" class="form-control" name="description" required>
				<div class="padding-bottom"></div>
				<select name="category" required>
					{% for category in categories %}
					<option> {{category.name}} </option>
					{% endfor %}
				</select>
				<div class="padding-bottom"></div>
				<input type="submit" type="submit" value="Create!"/>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
