{% extends "main.html" %}
{% block content %}
{% include "public_header.html" %}

	<div class="row banner main">
		<div class="col-md-11 padding-none">
			<h2>Categories</h2>
		</div>
	</div>



	<div class="row">
		<div class="col-md-3">
			{% for category in categories %}
			<div class="item-list ">
				<a href = "{{url_for('showItems', category_id = category.id)}}">
					<h3>{{category.name}}</h3>
				</a>
			</div>
			{% endfor %}

			</div>
			<div class="col-md-9">
				{% for item in items %}
				<span class="list"><a href="{{url_for('showItem', item_id = item.id,category_id = item.category_id)}}"><h4>{{item.name}} <span style="color:#F7E53E;"> -{{item.category.name}}</span></h4></a></span>
				{% endfor %}
			</div>
	</div>

{% endblock %}
